@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: rgb(61, 61, 61);
  direction: rtl;
  overflow-x: hidden;
}
.dark {
  color: rgb(182, 182, 182);
}

h1,
h2,
h3 {
  color: rgb(0, 0, 0);
}
.dark h1,
.dark h2,
.dark h3 {
  color: rgb(255, 255, 255);
}

::-webkit-scrollbar{
  display: none;
}